.cards {
  padding-top: 51px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards__list-item {
  max-width: 282px;
  min-height: 361px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.cards__description {
  background-color: white;
  color: black;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cards__description-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__description-text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 219px;
  overflow: hidden;
  margin: 0;
  padding: 25px 0;
}

.cards__like-button {
  background: url(../images/like-button-disabled.svg);
  width: 20px;
  height: 18px;
  border: none;
  margin: 0;
}

.cards__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .cards {
    padding-top: 36px;
  }
}
