.header {
  background-color: black;
  color: white;
  min-height: 74px;
  margin: 45px auto 0 auto;
  max-width: 880px;
  position: relative;
  padding: 0 20px;
  border-bottom: rgb(84 84 84 / 0.7) solid 1px;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 28px 0 0 0;
    margin: 0 auto;
    max-width: 480px;
    min-height: 56px;
  }
  .header__image {
    max-width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
